body {
    margin: 20px;
}

#couverture img {
    width: 100%;
    height: auto;
}

/*section 01*/
#s01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 0px 0px 0px 0px;
    /* cela sert à ajouter les marges extérieures */
}

#s01 h1 {
    font-size: 3em;
    font-family: "itc-american-typewriter", serif;
    font-weight: 500;
    font-style: normal;
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
}

#s01 p {
    font-size: 1em;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 5vh;
    position: absolute;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}