/* HEADER Chapter 1 title */
.chapter-1-title {
    display: flex;
    width: 100vw;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 52px;
}

.chapter-1-title__svg {
    width: 60%;
    height: auto;
    display: block;
}

.chapter-1-title__text {
    font-family: 'MomsTypewriter', monospace;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

/* HEADER Chapter 2 title */
.chapter-2-title {
    display: flex;
    width: 100vw;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 52px;
}

.chapter-2-title__svg {
    width: 60%;
    height: auto;
    display: block;
}

.chapter-2-title__text {
    font-family: 'VeteranTypewriter', monospace;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
}

/* HEADER Chapter 3 title */
.chapter-3-title {
    display: flex;
    width: 100vw;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.chapter-3-title__svg {
    width: 60%;
    height: auto;
    display: block;
}

.chapter-3-title__text {
    font-family: 'ELEGANT TYPEWRITER', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
}

/* encadré texte elbert */
.text-Elbert {
    background: rgba(255, 255, 255, 0.1);
    /* fond semi-transparent */
    backdrop-filter: blur(50px);
    /* effet de flou */
    -webkit-backdrop-filter: blur(50px);
    /* support Safari */
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
    border-bottom: #1F130D 2px solid;
    border-left: #1F130D 2px solid;
    border-top: #1F130D 2px solid;
}

.beginningOfASuccess-text {
    background: rgba(255, 255, 255, 0.1);
    /* fond semi-transparent */
    backdrop-filter: blur(50px);
    /* effet de flou */
    -webkit-backdrop-filter: blur(50px);
    /* support Safari */
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
}


/* Dropdown Button S04 MECHANICAL BODY */
.gear-dropbtn {
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    border: none;
}

.gear-svg-btn-icon {
    width: 50px;
    height: 51px;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.gear-dropdown-content {
    /* Aligne le haut du menu avec le haut du bouton */
    min-width: 280px;
    background-color: var(--color-primary);
    z-index: 10000;
    display: none;
    padding: 24px;
    overflow: hidden;
}

/*dropdown content*/

.gear-dropdown-content h2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding-bottom: 12px;
}

.gear-dropdown-content p {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-weight: 10;
    font-size: 18px;
}

/* Show the dropdown menu */
.show {
    display: block;
}

/* Dropdown pour TheOriginalArtTypingPieceElements */
.art-dropdown {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.art-dropbtn {
  background-color: var(--color-primary, #1F130D);
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 8px 0;
}

.svg-art-btn-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.art-dropdown-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 220px;
  z-index: 1000;
  display: none;
  text-align: left;
  background: rgba(255, 255, 255, 0.584);
  /* fond semi-transparent */
  backdrop-filter: blur(20px);
  /* effet de flou */
  -webkit-backdrop-filter: blur(20px);
  /* support Safari */
  padding: 24px;
  gap: 8px;
  border: #1F130D 3px solid;
}

.art-dropdown-content.show {
  display: block;
}