@import url('base.css');
@import url('main.css');
@import url('layout.css');
@import url('book.css');

/* HEADER Chapter 1 title */
.chapter-1-title {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 64px;
}

.chapter-1-title__svg {
    width: 60%;
    height: auto;
    display: block;
}

.chapter-1-title__text {
    font-family: 'MomsTypewriter', monospace;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

/* HEADER Chapter 2 title */
.chapter-2-title {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 64px;
}

.chapter-2-title__svg {
    width: 60%;
    height: auto;
    display: block;
}

.chapter-2-title__text {
    font-family: 'VeteranTypewriter', monospace;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
}



/* Dropdown Button S04 MECHANICAL BODY */
.gear-dropbtn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gear-svg-btn-icon {
    width: 50px;
    height: 51px;
    display: block;
}



/* Dropdown Content (Hidden by Default) */
.gear-dropdown-content {
    position: absolute;
    left: 10%;
    /* Place le menu à droite du bouton */
    top: 0;
    /* Aligne le haut du menu avec le haut du bouton */
    min-width: 300px;
    background-color: var(--color-primary);
    z-index: 1;
    display: none;
    padding: 20px;
    overflow: hidden;

}

.gear-dropdown-content h1 {
    font-family: 'VeteranTypewriter', monospace;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 24px;
    padding-bottom: 12px;

}

/* Links inside the dropdown */
.gear-dropdown-content p {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-weight: 10;
    font-size: 18px;
}

/* Show the dropdown menu */
.show {
    display: block;
}

.gear-dropdown-content h2 {
    font-family: 'VeteranTypewriter', monospace;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding-top: 12px;
    text-align: right;
}