@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('book.css');



/* ----------------------- CH1 /CHAPTER 1 : INTO THE TYPE/ CH1 ----------------------- */
/* S02 /ELBERT HUBBARD/ S02 */

#s02 {
  background-color: white;
}

/* citation-banner */
.citation-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-primary);
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: 'MomsTypewriter', serif;
  letter-spacing: 0.10em;
  min-height: 145px;
  padding: 5.1vw 5.1vw 5.1vw 10.3vw;
  box-sizing: border-box;
}
.imageguillemets-svg {
  color: #fff;
}
.citation-banner-line1 {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
  align-self: flex-start;
  text-align: left;
}

.citation-banner-line2 {
  font-size: 40px;
  display: block;
  align-self: flex-start;
  text-align: left;
}

.guillemets-hauts-container {
  position: absolute;
  top: -6vw;
  /* ajuste selon le débordement souhaité */
  left: 6vw;
  display: flex;
  gap: 2vw;
  /* espace entre les deux guillemets */
  z-index: 10;
}

.guillemets-bas-container {
  position: absolute;
  bottom: -6vw;
  /* ajuste selon le débordement souhaité */
  right: 6vw;
  display: flex;
  gap: 2vw;
  /* espace entre les deux guillemets */
  z-index: 10;
}

/* encadré texte elbert */
.texte-Elbert {
  background: rgba(255, 255, 255, 0.1);
  /* fond semi-transparent */
  backdrop-filter: blur(50px);
  /* effet de flou */
  -webkit-backdrop-filter: blur(50px);
  /* support Safari */
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-bottom: #1F130D 2px solid;
  border-left: #1F130D 2px solid;
  border-top: #1F130D 2px solid;
}

/* S03 /TYPEWRITER ART: A MODERN ANTHOLOGY/ S03*/
.texte-3dBook {
  background: rgba(255, 255, 255, 0.1);
  /* fond semi-transparent */
  backdrop-filter: blur(50px);
  /* effet de flou */
  -webkit-backdrop-filter: blur(50px);
  /* support Safari */
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-bottom: #1F130D 2px solid;
  border-right: #1F130D 2px solid;
  border-top: #1F130D 2px solid;
}

/* ----------------------- CH2 /CHAPTER 2 : MECHANICAL BODY/ CH2 ----------------------- */
/* S04 /MECHANICAL BODY/ S04*/
#s04 {
background-color: #fcfcfb;
}
 /* video anim brevet */
.animbrevet {
  pointer-events: none;      /* Empêche tout clic ou interaction */
  user-select: none;         /* Empêche la sélection du contenu */
}


