@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('book.css');



/* ----------------------- CH1 /CHAPTER 1 : INTO THE TYPE/ CH1 ----------------------- */
/* S02 /ELBERT HUBBARD/ S02 */

#s02 {
  background-color: white;
}

/* citation-banner */
.citation-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: var(--color-primary);
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: 'MomsTypewriter', serif;
  letter-spacing: 0.10em;
  min-height: 145px;
  padding: 5.1vw 5.1vw 5.1vw 10.3vw;
  box-sizing: border-box;
}

.guillemets-svg {
  color: #fff;
}

.citation-banner-line1 {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
  align-self: flex-start;
  text-align: left;
}

.citation-banner-line2 {
  font-size: 40px;
  display: block;
  align-self: flex-start;
  text-align: left;
}

.guillemets-hauts-container {
  position: absolute;
  top: -6vw;
  /* ajuste selon le débordement souhaité */
  left: 6vw;
  display: flex;
  gap: 2vw;
  /* espace entre les deux guillemets */
  z-index: 10;
}

.guillemets-bas-container {
  position: absolute;
  bottom: -6vw;
  /* ajuste selon le débordement souhaité */
  right: 6vw;
  display: flex;
  gap: 2vw;
  /* espace entre les deux guillemets */
  z-index: 10;
}

/* encadré texte elbert */
.texte-Elbert {
  background: rgba(255, 255, 255, 0.1);
  /* fond semi-transparent */
  backdrop-filter: blur(50px);
  /* effet de flou */
  -webkit-backdrop-filter: blur(50px);
  /* support Safari */
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-bottom: #1F130D 3px solid;
  border-left: #1F130D 3px solid;
  border-top: #1F130D 3px solid;
}

/* S03 /TYPEWRITER ART: A MODERN ANTHOLOGY/ S03*/
.texte-3dBook {
  background: rgba(255, 255, 255, 0.1);
  /* fond semi-transparent */
  backdrop-filter: blur(50px);
  /* effet de flou */
  -webkit-backdrop-filter: blur(50px);
  /* support Safari */
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-bottom: #1F130D 3px solid;
  border-right: #1F130D 3px solid;
  border-top: #1F130D 3px solid;
}

/* ----------------------- CH2 /CHAPTER 2 : MECHANICAL BODY/ CH2 ----------------------- */
/* S04 /MECHANICAL BODY/ S04*/
/* video anim brevet */
.animbrevet {
  pointer-events: none;
  /* Empêche tout clic ou interaction */
  user-select: none;
  /* Empêche la sélection du contenu */
}

#s04 {
  background-color: #fcfcfb;
}

.s04-grid {
  background-color: #fcfcfb;
}

/* S05 /WOMAN TYPING/ S05*/
#s05 {
  background-color: #fcfcfb;
  border-left: var(--color-primary) 1px solid;
}

.s05-grid {
  background-color: #fcfcfb;
}

.citation-banner-s05 {
  grid-column: 1/ 5;
  grid-row: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 24px 30px 24px;
  box-sizing: border-box;
  gap: 8px;
}

#s07 {
  border-left: var(--color-primary) 3px solid;
}


#s09 {
  background-color: #ffffff;
  border-left: var(--color-primary) 1px solid;
}

#s10 img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  display: block;
  margin: 30px auto;
  object-fit: cover;
}

.home-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.home-button-link img {
  width: 30%;
}


/* Footer dans la derniere zone */
.site-footer {
  background-color: #1b1313;
  color: #fff;
  width: 100%;
  padding: 32px;
  font-family: 'IM Fell DW Pica', serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.footer-links a {
  color: #fff;
  text-decoration: underline;
  display: block;
  line-height: 1.6;
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #b39ddb;
}

.footer-block h3 {
  font-size: 1.1em;
  margin-bottom: 8px;
  text-decoration: underline;
}

.typography-list, .gallery-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.typography-list li,
.gallery-list li {
  margin-bottom: 6px;
  line-height: 1.4;
  font-size: 0.95em;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* ligne blanche semi-transparente */
}

.typography-list li:last-child,
.gallery-list li:last-child {
  border-bottom: none; /* pas de ligne après le dernier élément */
}

.typo-icon {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 4px;
}

small {
  display: block;
  font-size: 0.8em;
  color: #ccc;
  margin-left: 24px;
}

@media (max-width: 700px) {
  .site-footer {
    padding: 20px;
    font-size: 0.95em;
  }
}

.linkedin-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-top: 10px;
  filter: brightness(0) invert(1); /* pour l'icône blanche sur fond noir */
  display: inline-block;
}